---
---

/* Old Minimal Shit */
body {
  background-color: #fff;
  padding:50px;
  font-family: "Poltawski Nowy";
    font-weight:400;
    font-style: regular;
  font:16px;
  color:#000;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, dl {
  margin:0 0 20px;
  font-family: "Poltawski Nowy";
    font-weight:400;
    font-style: regular;
  font:16px;
  color:#000;
}

h1, h2, {
    font-family: "Berlin Sans";
        font-weight:700;
        font-style:demibold;
  line-height:1.1;
}

h3 {
    font-family: "Berlin Sans";
        font-weight:700;
        font-style:regular;
  line-height:1.1;
}

h1 {
    font-family: "Berlin Sans";
        font-weight:700;
        font-style:demibold;
  color:#000;
  font-size:28px;  
}

h2 {
    font-family: "Berlin Sans";
        font-weight:700;
        font-style:demibold;
  color:#000;
}

h3, h4, h5, h6 {
  color:#000;
}

a {
  color:#000;
  text-decoration:none;
}

a:hover, a:focus {
  color:darkolivegreen;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:1080px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-family: "Poltawski-Nowy";
    font-weight: 400;
    font-style: italic;
  color: #494949;
}

table {
  width:100%;
  border-collapse:collapse;
}

img {
  max-width:100%;
}

header {
  font-family: "Poltawski Nowy";
    font-weight:400;
    font-style:regular;
  font:16px;
  color:#000;
  width:270px;
  float:left;
  position:fixed;
  -webkit-font-smoothing:subpixel-antialiased;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:790px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  font-family: "Poltawski Nowy";
    font-weight:400;
    font-style:regular;
  font:16px;
  color:#000;
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {
    border:1px solid #e5e5e5;
    border-width:1px 0;
    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

/* End Old Minimal Shit */

/* FONT WORLD */

@font-face {
  font-family: 'Goblin One';
  font-weight: 400;
  font-style: regular;
  src: local('Goblin One'),
       local('Goblin-One-400'),
       url('../fonts/Goblin-One-400/Goblin-One-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Poltawski Nowy';
  font-weight: 400;
  font-style: regular;
  src: local('Poltawski Nowy'),
       local('PoltawskiNowy-Regular'),
       url('../fonts/Poltawski-Nowy/static/PoltawskiNowy-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poltawski Nowy';
  font-weight: 700;
  font-style: bold;
  src: local('Poltawski Nowy Bold'),
       local('PoltawskiNowy-Bold'),
       url('../fonts/Poltawski-Nowy/static/PoltawskiNowy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poltawski Nowy';
  font-weight: 400;
  font-style: italic;
  src: local('Poltawski Nowy Italic'),
       local('PoltawskiNowy-Italic'),
       url('../fonts/Poltawski-Nowy/static/PoltawskiNowy-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Poltawski Nowy';
  font-weight: 700;
  font-style: bold italic;
  src: local('Poltawski Nowy Bold Italic'),
       local('PoltawskiNowy-Italic'),
       url('../fonts/Poltawski-Nowy/static/PoltawskiNowy-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond';
  font-weight: 400;
  font-style: regular;
  src: local('Garamond Text'),
       local('GaramondATFText'),
       url('../fonts/Garamond/GaramondATFText.otf') format('opentype');
}

@font-face {
  font-family: 'Berlin Sans';
  font-weight: 700;
  font-style: demibold;
  src:  local('Berlin Sans Demibold'),
        local('BRLNSDB'),
        url('../fonts/Berlin-Sans/BRLNSDB.TTF') format('truetype');
}

@font-face {
  font-family: 'Berlin Sans';
  font-weight: 700;
  font-style: regular;
  src:  local('Berlin Sans Regular'),
        local('BRLNSR'),
        url('../fonts/Berlin-Sans/BRLNSR.TTF') format('truetype');
}

/* END FONT WORLD */

.hoverbold:hover {
    font:bold;
    color:darkolivegreen;
}

.hoverbold:focus {
    color:darkolivegreen;
}

.postborder {
  border-bottom: 2px solid #d3d3d3;
  padding-bottom:5px;
}

.creations-button, .index-nav-butts {
    font-family: "Berlin Sans";
        font-weight:700;
        font-style:demibold;
    font-size:26px; 
    color:#000;
    cursor: pointer;
    text-decoration:none;
    background: none;
    border: none;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom:7px;
    padding-bottom:5px;
}
/* Dropdown Container */
.creations-dropdown {
  position: relative; /* Needed for positioning the dropdown content */
}
/* Dropdown Content Styles */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: calc(100% - 5px); /* Adjust 5px as needed */
  margin-top: 5px;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}
/* Show Dropdown on Creations Hover */
.creations-dropdown:hover .dropdown-content {
  display: block;
}
/* Tab Content Styles (Important for visibility) */
.tabs {
  display: none;
  padding: 20px;
}

.tabs.active { /* If you use a class "active" to show tabs */
  display: block;
}

.index-nav-butts:hover {
    font:bold;
    color:darkolivegreen;
}

.index-nav-butts.active {
    font:bold;
    color:darkolivegreen;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Or space-around, space-evenly, flex-start, etc. */
    flex-wrap: wrap;
}

.flex-container button {
  margin-right: 10px;
}

.list-1 {
    margin-left:0;
    padding-left:0;
    list-style-type:none;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
    justify-content: center;
  }
}

.stupidheader {
    font-family: "Berlin Sans";
        font-weight:700;
        font-style:demibold;
    font-size:26px; 
    color:#000;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom:7px;
    padding-bottom:5px;
}

.closereadright {
    font-family: "Poltawski-Nowy";
        font-weight: 400;
        font-style:regular;
    color: #000;
    border-bottom:0px;
}

.closereadjust {
    font-family: "Poltawski-Nowy";
        font-weight: 400;
        font-style: italic;
    text-align: justify;
        color: #494949;
    border-left:1px solid #e5e5e5;
    border-bottom:0px;
    float: left;
    width: 387px;
    margin:20px;
    padding:0 0 0 20px;
}

.gifflex {
    display: flex;
    float: right;
    flex-direction: column;
        font-size: 12px;
    padding: 0 0 20px 20px;
    width: 50%;
}

.gifitem {
    width: 100%;
}

.siteheader {
    text-align: justify-all;
      font-size:40px;
      color: #000000;
}