---
---

@import "{{ site.theme }}";

.hoverbold:hover {
    font:bold;
}

.inline {
    display: inline-block;
}

.tabtitles button {
    font-family: "Goblin One";
    font-weight:400;
    font-style:normal;
    color:#000;
    font-size:28px;  
    background: none;
    border: none;
    text-align: justify;
    text-decoration:none;
    cursor: pointer;
}