---
---

@import "{{ site.theme }}";

.hoverbold:hover {
    font:bold;
    color:darkolivegreen;
}

.hoverbold:focus {
    color:darkolivegreen;
}

.postborder {
  border-bottom: 2px solid #d3d3d3;
  padding-bottom:5px;
}

.index-nav-butts {
    font-family: "Goblin One";
        font-weight:400;
        font-style:normal;
    font-size:26px; 
    color:#000;
    cursor: pointer;
    text-decoration:none;
    background: none;
    border: none;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom:7px;
    padding-bottom:5px;
}

.index-nav-butts:hover {
    font:bold;
    color:darkolivegreen;
}

.index-nav-butts:focus {
    font:bold;
    color:darkolivegreen;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.stupidheader {
    font-family: "Goblin One";
        font-weight:400;
        font-style:normal;
    font-size:26px; 
    color:#000;
    border-bottom: 2px solid #d3d3d3;
    margin-bottom:7px;
    padding-bottom:5px;
}

.closeread {
    font-family: "Poltawski-Nowy";
        font-weight: 400;
        font-style: italic;
    color: #494949;
    border-left:1px solid #e5e5e5;
    border-bottom:0px;
    margin:0;
    padding:0 0 0 20px;
}

.closereadjust {
    font-family: "Poltawski-Nowy";
        font-weight: 400;
        font-style: italic;
    text-align: justify;
        color: #494949;
    border-left:1px solid #e5e5e5;
    border-bottom:0px;
    margin:20px;
    padding:0 0 0 20px;
}